{% extends 'AbuchynAlexBundle::layout.html.twig' %}

{% block author %}

{% endblock %}

{% block info %}
    <h2>Nothing found</h2>
{% endblock %}

{% block body %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="row">
            <p>Sorry, but nothing matched your search criteria. Please try again with some different keyword.</p>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
        {% block search %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}