{% extends 'AbuchynAlexBundle::layout.html.twig' %}

{% block logo %}
    <div class="circle">
        <h3 class="navbar-brand">AB</h3>
    </div>
{% endblock %}

{% block header_menu %}{% endblock %}

{% block author %}{% endblock %}

{% block category %}{% endblock %}

{% block info %}{% endblock %}

{% block footer %}{% endblock %}