{% extends '::base.html.twig' %}

{%  block title %} Maintenance {% endblock %}

{% block body %}
    <body class="full">
        <div class="row text-center">
            <div class="container-fluid">
                <h2>Sorry, but "alexey-buchyn.blog" is currently down for maintenance.</h2>
                <h3>The work of the site will be restored in the near future.</h3>

                <h3>Try <a href="{{ path ('abuchyn_alex_homepage') }}"> <button class="btn btn-alexblog" type="button">Reload site</button></a> later</h3>
            </div>
        </div>
    </body>
{% endblock %}