{% extends 'AbuchynAlexBundle::layout.html.twig' %}

{% block title %}Photo Blog{% endblock %}

{% block category %}
    <hr class="small">
    <span class="subheading">Фотография</span>
{% endblock %}